
<html>
<head></head>
<body>

<a href="index.html">home</a><br/>
<a href="insert">back</a><br/><br/>

<b>{{errorMsg}}</b>

<table border=1>
    <tr><td colspan=3>Days:</td></tr>
    <tr><td>calendar</td><td>date</td><td>isHoliday</td></tr>
    {{#days}}
    <tr><td>{{calendar}}</td><td>{{date}}</td><td>{{isHoliday}}</td></tr>
    {{/days}}
</table>

</body>
</html>